h1 {
    font-size: 50px;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    margin: 10px 0;
    color: #f23d33;
}

h3 {
    font-size: 30px;
    color: lightcoral;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.h3c {
    margin-left: 80px;
    background-color: #00000010;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

ul{
    list-style-type: none;
}

li {
    list-style-position: inside;
}

.code {
    background-color: beige;
    border-radius: 20px;
    color: black;
    padding: 20px;
    margin-left: 50px;
    font-size: 20px;
    /* white-space: pre-line; */
    display: inline-block;
    max-width: 90%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}