@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-main);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  color: var(--color-main-hover);
}

.border-button {
  margin: 1rem 0;
  border: 2px solid var(--color-main);
  border-radius: 100px;
  padding: 1rem 3rem;
  background-color: transparent;

  color: var(--color-main);
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;

  transition: 0.2s;
}

.border-white-button {
  color: var(--color-background);
  border-color: currentColor;
}

.border-button:hover {
  background-color: var(--color-main);
  color: var(--color-background);
}

.border-white-button:hover {
  color: var(--color-main);
  border-color: var(--color-background);
  background-color: var(--color-background);
}

.body-m {
  width: 90vw;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1em 0;
}

@media (min-width: 1300px) {
  .body-m {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .body-m {
    margin: auto 20px;
  }
}