/* 全局颜色定义 */
:root {
  /* css常量以--开头 */
  /* 白色 */
  --vt-c-white: #ffffff;
  /* 柔和的白色 */
  --vt-c-white-soft: #f8f8f8;
  /* 白色 */
  --vt-c-white-mute: #f2f2f2;

  /* 黑色 */
  --vt-c-black: #181818;
  /* 柔和黑 */
  --vt-c-black-soft: #222222;
  /* 静谧黑 */
  --vt-c-black-mute: #282828;

  /* 靛蓝色 */
  --vt-c-indigo: #2c3e50;

  /* 分割线浅色1 */
  --vt-c-divider-light-1: r g b(60, 60, 60, 0.29);
  /* 分割线浅色2，更浅 */
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  /* 分割线深色1 */
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  /* 分割线深色2 */
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  /* 浅色模式文字颜色 */
  --vt-c-text-light-1: var(--vt-c-indigo);
  /* 浅色模式文字颜色 */
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  /* 深色模式文字颜色 */
  --vt-c-text-dark-1: var(--vt-c-white);
  /* 深色模式文字颜色 */
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* 设置浅色模式颜色 */
:root {
  /* 背景颜色 */
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  /* 边框颜色 */
  --color-border: var(--vt-c-divider-light-2);
  /* 边框鼠标悬浮颜色 */
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  /* 文本颜色 */
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* 媒体查询，暗黑模式 */
@media (prefers-color-scheme: dark) {

  /* 设置暗黑模式颜色 */
  :root {
    /* 背景颜色 */
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    /* 边框颜色 */
    --color-border: var(--vt-c-text-dark-2);
    /* 边框鼠标悬浮颜色 */
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    /* 文本颜色 */
    --color-text: var(--vt-c-text-dark-2);
  }
}

/* 伪元素 */
*,
*::after,
*::before {
  /* 边框开始计算宽高 */
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* 最小高度为视口高度 */
  min-height: 100vh;
  /* 文本颜色 */
  color: var(--color-text);
  /* 背景颜色 */
  background: var(--color-background);
  /* 0.5s过渡 */
  transition: 0.5s;
  /* 行高 */
  line-height: 1.6;
  /* 字体 */
  font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  /* 文字优化 */
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}