@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a, .green {
  text-decoration: none;
  color: #55BA83;
  transition: 0.4s;
  padding: 3px;
}

@media (hover:hover) {
  a:hover {
    background-color: #2A3E33;
  }
}

/* 视口宽度大于1024px */
@media (min-width: 1024px) {
  body {
    display: flex;
    /* 水平垂直居中 */
    place-items: center;
  }

  #app {
    /* 网格 */
    display: grid;
    /* 左右平分 */
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}