body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* 垂直方式 */
    flex-direction: column;
    /* 对齐方式 */
    justify-content: center;
    background-color: white;
    gap: 15px 0;
}

:root {
    --bgcolor: #ea2b37;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}